body{
	font-family:Tahoma, Geneva, sans-serif; 
	color:#fff;
	background-size:cover;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('images/login2.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	margin:0;
}

.form-container{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup
{
	background: rgba(44,62,80,0.7);
	padding: 40px;
	width: 350px;
	border-radius: 10px;
	/*height: 480px;
	margin-left: 500px;
	margin:0 auto;
	margin-top: 90px; */
	
}
form{
	width: 350px;
	text-align: center;
}
input{
	width: 300px;
	text-align: left;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	color: #fff;
}

.btn{

	width: 100px;
	border: none;
	cursor: pointer;
	text-align: center;
	background: white;
	color: #000;

	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
}
.btn:hover{
	color: #fff;
	background-color: orange;
}

/*input[type=submit]
{
	border: none;
	width: 100px;
	background: white;
	color: #000;
	font-size:16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer; 
	text-align: center;
}

input[type=submit]:hover
{
	color: #fff;
	background-color: orange;

}*/
h2{
	color: white;

}
a{
	color: yellow;
	text-decoration: blink;
}
a:hover
{
	color: skyblue;

}
::placeholder{
	color: aliceblue;
	opacity: 0.8;
}

